pkgbase = wlroots-noassert-git
	pkgdesc = Modular Wayland compositor library (git version)
	pkgver = 0.15.0r5182.0855cdac
	pkgrel = 1
	url = https://github.com/swaywm/wlroots
	arch = x86_64
	license = custom:MIT
	makedepends = git
	makedepends = meson
	makedepends = wayland-protocols
	makedepends = vulkan-headers
	makedepends = xorgproto
	depends = libinput
	depends = libxcb
	depends = libxkbcommon
	depends = opengl-driver
	depends = pixman
	depends = wayland
	depends = xcb-util-errors
	depends = xcb-util-renderutil
	depends = xcb-util-wm
	depends = seatd
	depends = systemd
	depends = vulkan-icd-loader
	depends = xorg-xwayland
	provides = libwlroots.so
	provides = wlroots=0.15.0r5182.0855cdac
	provides = wlroots-git
	conflicts = wlroots
	conflicts = wlroots-git
	source = wlroots-noassert-git::git+https://github.com/swaywm/wlroots
	source = noassert.patch
	sha256sums = SKIP
	sha256sums = 6910365f5c01d9fd7b6fe817dd174b83d9a0bf16a67e7bffd7feb1acdbd700b9

pkgname = wlroots-noassert-git
